.stockImg {
    width: 25%;
    height: 25%;
    display: flex;
    position: relative;
    left: 100px;
    flex-shrink: 1;
}

.carousel-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
  }

  .load-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; 
  }

  .card:hover {
    background-color: #f0f0f0; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform: scale(1.05);
  }