.stockImg {
    width: 25%;
    height: 25%;
    display: flex;
    position: relative;
    left: 100px;
    flex-shrink: 1;
}

.carousel-container {
    display: flex;
    justify-content: flex-end; /* Moves the carousel to the right */
    align-items: center; /* Optional: Vertically center the carousel */
  }

  .load-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* This makes the container take up the full viewport height */
  }